# Udacity Popular Movies Project
# Folder: PopularMovies
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
# PKMI Contains the API Key
gradle.properties